apiVersion: v1
kind: Service
metadata:
  labels:
    app: api-gateway
    tier: orchestration
  name: api-gateway-service
  namespace: orchestration
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8888
  selector:
    app: api-gateway
  sessionAffinity: None
  type: ClusterIP
