apiVersion: v1
kind: Service
metadata:
  labels:
    app: auth
    tier: backend
  name: auth-service
  namespace: backend
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8000
  selector:
    app: auth
  sessionAffinity: None
  type: ClusterIP
