apiVersion: v1
kind: Service
metadata:
  labels:
    app: distance-app
    tier: backend
    component: distance-service
  name: distance-service
  namespace: backend
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    port: 5000
    protocol: TCP
    targetPort: 5000
  selector:
    app: distance-app
  sessionAffinity: None
  type: ClusterIP
