apiVersion: v1
kind: Service
metadata:
  labels:
    app: notification-deployment
    tier: backend
  name: notification-deployment-service
  namespace: backend
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: notification-deployment
    app.kubernetes.io/managed-by: cloud-console
  sessionAffinity: None
  type: ClusterIP
